  html, body {
    padding: 0;
    margin: 0;
  }
  .navbar a:link, a:visited {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
  }
  .navbar a:hover, a:active {
    background-color: #17a3c6;
  }
  .navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    text-align: center;
    font-family: Comfortaa;
  }
.navbar a {
  display: inline-block;
  padding 5pxs;
}
h1 {
  font-family: Comfortaa;
  text-align: center;
  font-size: 72px;
}
p {
  font-family: Comfortaa;
  text-align: center;
  font-size: 20px;
}
.Logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#Quote {
  font-size: 20px;
  font-family: Comfortaa;
  text-align: center;
  color: #565656;
}
h3 {
  font-size: 14px;
  font-family: Comfortaa;
  text-align: center;
  color: #afafaf;
}
h2 {
  text-align: center;
  font-family: Comfortaa;
  font-size: 32px;
}
code {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #e2e2e2;
  outline: 10px solid #e2e2e2;
  width: 30%;
}
h4 {
  font-size: 20px;
  font-family: Comfortaa;
  text-align: center;
}
@media (min-width: 1370px) {
  code {
      width: 30%;
      font-size: 80%;
  }
}
@media (max-width: 1369px) {
  code {
      width: 50%;
      font-size: 60%;
  }
}
@media (max-width: 900px) {
  code {
          width: 70%;
      font-size: 60%;
  }
}
@media (max-width: 550px) {
  code {
          width: 90%;
      font-size: 50%;
  }
}
@media (max-width: 320px) {
  code {
          width: 100%;
      font-size: 40%;
  }
}
ul {
  text-align: center;
  font-family: Comfortaa;
}
button {
  background-color: #17a3c6;
  outline: 3px solid #000000;
  text-align: center;
}
