  html, body {
    padding: 0;
    margin: 0;
  }
  .navbar a:link, a:visited {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .navbar a:hover, a:active {
    background-color: #17a3c6;
  }
    .navbar .active{
    background-color: #17a3c6;
  }
  .navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    text-align: center;
    font-family: Comfortaa;
  }
    
