.leftbar {
  height: 100%;
  float: left;
  width: 20%;
  background-color: #333333;
  padding-top: 0px;
}
  .leftbar a:link, a:visited {
    padding-top: 15px;
        padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35%;
    padding-left: 35%;
  }
  .leftbar a:hover, a:active {
    background-color: #17a3c6;
  }
  .leftbar a {
    font-family: Comfortaa;
  }
table {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
  text-align: center;
  font-family: Comfortaa;
}
th, td {
  padding: 10px;
}
th {
  background-color: #eeeeee;
}
